.chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  border-radius: 15px 0px 0px 15px;

  .content {
    background-color: rgb(168, 124, 124);
    position: fixed;
    right: calc(-20rem + 4rem);
    max-width: 20rem;
    transition: right 0.5s ease-out;
    border-radius: 1rem 0% 0% 1rem;

    .chat-header {
      height: 4rem;
      display: grid;
      grid-template-columns: 4rem 1fr;
      grid-template-rows: 2rem;

      .menu-toggle-wrap {
        top: 0;

        .menu-toggle {
          padding: 1rem;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: 0.5s ease-out;
          transform: scaleX(-1);

          .material-icons {
            font-size: 2rem;
            color: white;
          }
        }
      }

      .chat-header-label {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 4rem;
        font-size: 1.5rem;
        color: white;
      }
    }

    .chat-content {
      display: grid;
      grid-template-columns: 4rem 1fr;
      height: 16rem;
      transition: 0.5s ease-out;

      .notification {
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-rl;
        grid-column: 1;
        opacity: 1;
        visibility: visible;
        width: 4rem;
        transition: width 1s ease-out, opacity 0.5s ease-out;
      }

      .chat-messinput {
        grid-column: 2/3;
        background-color: rgb(199, 167, 167);
        border-radius: 0 0 0 10px;
        .messages {
          overflow-y: auto;
          scrollbar-width: thin;
          scrollbar-color: #888 #f0f0f0;
          height: 13rem;
          padding: 5px;
          background-color: rgb(199, 167, 167);
          border-bottom: 1px solid rgb(182, 152, 152);
          

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            background: #f0f0f0;
          }
          
          &::-webkit-scrollbar-thumb {
            background: #888;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          .message {
            display: flex;
            overflow-wrap: anywhere;
            margin-bottom: 10px;
            margin-right: 1rem;
            margin-left: 1rem;
            padding: 8px;
            border-radius: 10px;
            border: 1px solid;
            max-width: 60%;
            width: fit-content;
            color: black;
          }

          .own-message {
            justify-content: end;
            margin-left: auto;
            background-color: #6fc5ff;
            border-color: #67b7ec;
          }

          .received-message {
            justify-content: start;
            background-color: #fff;
            border-color: rgb(221, 221, 221);
          }
        }

        .chat-input {
          display: flex;
          height: 3rem;
          gap: 2px;
          border-radius: 10px;

          button {
            cursor: pointer;
            background-color: rgb(199, 167, 167);
            border: none;
            width: 3.5rem;
            border-radius: 1.5rem;

            &:hover{
              background-color: rgb(182, 152, 152);
            }
            &:active{
              background-color: rgb(182, 152, 152);
            }
          }

          button i {
            display: inline-block;
            transition: transform 0.3s ease;
          }
        
          button:active i {
            transform: scale(1.5);
          }

          input {
            width: 100%;
            background-color: rgb(199, 167, 167);
            border: 0;
            outline: 0;
            padding-left: 1rem;
            font-weight: 900;

            &:hover {
              background-color: rgb(182, 152, 152);
            }

            &:active {
              background-color: rgb(182, 152, 152);
              border: 0;
            }

            &:focus {
              background-color: rgb(182, 152, 152);
              border: 0;
              transition: border-radius 0.3s ease-in;
              border-radius: 1.5rem;
            }
          }
        }
      }
    }

    &.is-expanded {
      display: grid;
      grid-template-columns: 1fr;
      right: 0;

      .chat-header {
        .menu-toggle-wrap {
          .menu-toggle {
            transform: scaleX(1);
            transition: 0.5s ease-out;
          }
        }
      }

      .chat-content {
        grid-template-columns: 1fr;

        .notification {
          transform: translateX(-100%);
          transition: width 0.5s ease-out, opacity 0.5s ease-out;
          transition: width 0.7s ease;
          opacity: 0;
          visibility: hidden;
          width: 0;
        }
      }
    }
  }
}