.chat {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  border-radius: 15px 0 0 0;

  .content {
    height: 20rem;
    background-color: rgb(168, 124, 124);
    position: fixed;
    right: calc(-20rem + 4rem);
    bottom: 0;
    max-width: 20rem;
    transition: right 0.5s ease-out;
    border-radius: 1rem 0 0 0;

    .chat-header {
      height: 4rem;
      display: grid;
      grid-template-columns: 4rem 1fr;
      grid-template-rows: 2rem;

      .menu-toggle-wrap {
        top: 0;

        .menu-toggle {
          padding: 1rem;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: 0.5s ease-out;
          transform: scaleX(-1);

          .material-icons {
            font-size: 2rem;
            color: white;
          }
        }
      }

      .chat-header-label {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 4rem;
        font-size: 1.5rem;
        color: white;
      }
    }

    .chat-content {
      display: grid;
      grid-template-columns: 4rem 1fr;
      height: 16rem;
      transition: 0.5s ease-out;

      .notification {
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-rl;
        grid-column: 1;
        opacity: 1;
        visibility: visible;
        width: 4rem;
        transition: width 1s ease-out,  opacity 0.5s ease-out;
      }
    }

    &.is-expanded {
      display: grid;
      grid-template-columns: 1fr;
      right: 0;

      .chat-header {
        .menu-toggle-wrap {
          .menu-toggle {
            transform: scaleX(1);
            transition: 0.5s ease-out;
          }
        }
      }

      .chat-content {
        grid-template-columns: 0rem 1fr;

        .notification {
          transform: translateX(-100%);
          transition: width 0.5s ease-out, opacity 0.7s ease-out;
          opacity: 0;
          visibility: hidden;
          width: 0;
        }
      }
    }
  }
}